.card-text {
  table {
    margin-bottom: 0;

    th, td {
      vertical-align: middle;

    }

    tr:hover {
      td, th {
        background: #0d6efd0a;

        &:first-child {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
        &:last-child {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
  }
}
