<script>
  window.componentProps = <%= @component_props.to_json.html_safe %>;
</script>
<%= javascript_pack_tag(@pack_name) %>
<link href="/vendor/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/formio.full.min.css" rel="stylesheet">
<div id="app"></div>
