<script>
  window.componentProps = <%= @component_props.to_json.html_safe %>;
</script>
<%= javascript_pack_tag(@pack_name) %>
<link href="/vendor/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/formio.full.min.css" rel="stylesheet">
<div id="app"></div>
<div style="padding-top: 16px; font-size: 0.7em; color: #aaa;">
  This PDF is an uncontrolled copy of electronically signed JSON data (see attached files).<br /> The original data is available following the link in the QR code.
</div>
