body.admin_email_templates {
  fieldset.headless {
    padding: 0;
  }

  .editor .wrapper, fieldset.headless {
    min-height: 600px;
  }

  fieldset.headless {
    > ol {
      margin-top: 0;
      padding: 5px 0;
      label {
	white-space: nowrap;
	margin-right: 15px;
      }
    }
  }

  .editor .wrapper {
    position: relative;
    background-color: #272822;
    border-radius: 4px;
    overflow: hidden;
    padding: 0 0 0 15px;

    .header {
      line-height: 46px;
      width: 100%;
      float: left;
      font-size: 1.0em;
      font-weight: bold;
      color: #dedede;
    }

    .buttons {
      float: right;
      margin: 0;
      a {
	display: inline-block;
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 16px;
	color: #dedede;
	text-decoration: none;
	&:hover {
	  background-color: rgba(255,2555,255, 0.1);
	}
      }
    }
  }

  #editor {
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.2em;
    margin: 0;
    border-top: 1px solid #333;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 0 4px 4px;
  }

  .iframe-wrapper {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;

    @media screen and (max-width: 992px) {
      left: 0;
      bottom: 0;
    }

    background-color: #fff;
    border-top: 1px solid $panel-default-border;
    border-radius: 0 0 4px 4px;

    iframe {
      transition: opacity ease-in-out .3s;
      opacity: 1;
      border: 0;
    }

    &.loading {
      iframe {
	opacity: 0.2;
      }
    }
  }

  .container-fluid {
    .row {
      @include clearfix();
    }
    .col-md-6 {
      padding: 0;

      &.padded {
	fieldset {
	  margin-left: 15px;

	  @media screen and (max-width: 992px) {
	    margin-left: 0;
	  }
	}

	@media screen and (max-width: 992px) {
	  margin-top: 20px;
	}
      }
    }
  }
}
