.panel
  %h3 Case List
  .panel_content
    %ul.sortable#case_list_sortable
      - @cases.each do |c|
        %li{:'data-case-id' => c.id}= c.name
= form_tag(reorder_case_list_admin_session_path(@session)) do
  = hidden_field_tag('case_list', @cases.map{|c| c.id.to_s}.join(','))
  %fieldset.actions
    %ol
      %li.action.input_action
        %input{:name => 'commit', :type => 'submit', :value => 'Submit'}
      %li.cancel
        %a{:href => admin_session_path(@session)} Cancel
