#dashboard-container.container-fluid
= javascript_include_tag "dashboard/main"
:coffeescript
  $ ->
    window.dashboard = new Dashboard.Models.Main
      config: #{current_user.dashboard_configuration['general'].to_json}
    window.dashboard_view = new Dashboard.Views.Main
      model: window.dashboard
      el: $('#dashboard-container')
    window.dashboard_view.render()
