#dashboard-container.container-fluid
= javascript_include_tag "dashboard/main"
:javascript
  $(document).ready(function() {
    window.dashboard = new Dashboard.Models.Main({
      config: #{current_user.dashboard_configuration['general'].to_json.html_safe},
      reportableStudies: #{Study.granted_for(user: current_user, activity: :read_reports).select(:id, :name).to_json.html_safe}
    });
    window.dashboard_view = new Dashboard.Views.Main({
      model: window.dashboard,
      el: $('body.admin_dashboard')
    });
    window.dashboard_view.render();
  });
