#dashboard-container.container-fluid
= javascript_include_tag "dashboard/main"
:coffeescript
  $ ->
    window.dashboard = new Dashboard.Models.Main
      config:
        rows: [
          {
            size: 'small',
            widgets: [
              {
                type: 'overview',
                params: {
                  columns: ['patients']
                }
              },
              {
                type: 'overview',
                params: {
                  columns: ['visits']
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
            ]
          },
          {
            size: 'small',
            widgets: [
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              }
            ]
          },
          {
            size: 'small',
            widgets: [
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              }
            ]
          },
          {
            size: 'medium',
            widgets: [
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              }
            ]
          },
          {
            size: 'large',
            widgets: [
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              },
              {
                type: 'overview',
                params: {
                  columns: 'all'
                }
              }
            ]
          }
        ]
    window.dashboard_view = new Dashboard.Views.Main
      model: window.dashboard
      el: $('#dashboard-container')
    window.dashboard_view.render()
