#footer {
  position: absolute;
  font-size: 12px;
  bottom: 1px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 100%;
  border: 1px solid $clouds;
  color: $gray-light;

  p { margin: 0; }
}
