.table_tools {
  margin: 15px 0;
}

.batch_actions_selector {
  display: inline-block;
}

.dropdown_menu_button {
  @extend .btn;
  @extend .btn-primary;
  @extend .dropdown-toggle;
  &:after {
    @extend .caret;
  }
}

.dropdown_menu_list_wrapper {
  @extend .dropdown-menu;
  margin: -6px 0 0;

  ul {
    margin: 2px 0;
    list-style: none;
    padding: 0;
  }
  ul>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines

    &:hover,
    &:focus {
      text-decoration: none;
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
    }
  }
}

#active_admin_content {
  @extend .row;

  padding-bottom: 30px;

  &.without_sidebar {
    #main_content_wrapper { @extend .col-md-12; }
  }

  &.with_sidebar {
    #main_content_wrapper { @extend .col-md-10; }
    #sidebar              { @extend .col-md-2;  }
  }
}

/* Tables */
.index_table      { @extend .table; }
.attributes_table table { @extend .table; }

/* Forms */
form {
  @extend form[role="form"] !optional;

  .inputs, .actions {
    ol {
      padding-left: 0;
      list-style: none;
    }
  }

  .inputs {
    li {
      @extend .form-group;

      input,select,textarea { @extend .form-control; }
    }
  }

  .actions {
    li {
      display: inline-block;

      input, a { @extend .btn; @extend .btn-default; }
      input[type="submit"] { @extend .btn-primary; }
    }
  }

  label.label {
    /* The label class has a different meaning in bootstrap */
    display: inline-block;
    font-weight: bold;

    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius: inherit;
  }
}
