.flashes {
  padding: 15px 15px 0 15px;

  &:empty { padding: 0; }
}

.flash_notice {
  @extend .alert, .alert-info;
  margin-bottom: 0;
}

.flash_error,
.flash_alert {
  @extend .alert, .alert-danger;
  margin-bottom: 0;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  @extend .form-control;
  @include box-shadow(0 0 !important);

  &:focus {
    @include box-shadow(0 0 !important);
    box-shadow: 0 0 !important;
    outline: 0 !important;
  }
}

.field_with_errors {
  label {
    color: $brand-warning !important;
  }

  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select,
  .select2 .select2-selection,
  textarea {
    border-color: $brand-warning;
    &:focus {
      border-color: $input-border-focus;
    }
  }
}

form {
  @extend .form-horizontal;

  .inputs, .actions {
    ol {
      list-style: none;
    }
  }

  fieldset.inputs {
    position: relative;
    padding-top: 45px;
    legend {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .inputs {
    @extend .panel, .panel-default;
    margin-bottom: 10px;

    ol {
      @extend .panel-body;

      &:first-child {
	margin-top: -45px;
      }

      &:last-of-type {
	margin-bottom: 0;
      }
    }

    li {
      @extend .form-group;
      margin-left: 0;
      margin-right: 0;

      label {
	@extend .col-sm-2;
	line-height: $input-height-base;
	margin-bottom: 0;
	padding-left: 0;
      }
      input[type="text"],
      input[type="password"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="date"],
      input[type="month"],
      input[type="time"],
      input[type="week"],
      input[type="number"],
      input[type="email"],
      input[type="url"],
      input[type="search"],
      input[type="tel"],
      input[type="color"],
      select,
      textarea {
	@extend .col-sm-5;
	padding: $padding-base-vertical $padding-base-horizontal;
	width: 83.33333333%; // col-sm-10
	max-width: 300px;
      }
      .select2 {
	@extend .col-sm-5;
	padding: 0;
      }

      textarea {
	height: 100px;
	max-width: 83.3333333%;
      }

      .select2.select2-container {
	margin-right: -3px;

	li {
	  margin-bottom: 0;
	}
      }

      p.inline-errors {
	color: $brand-warning;
	display: inline-block;
	margin: 0px 10px;
	line-height: $input-height-base;
      }

      p.inline-hints {
	@extend .col-sm-10;
	@extend .col-sm-offset-2;
	@extend small;

	position: relative;
	display: block;
	padding: 0;
	margin-top: 10px;
      }

      &.select {
	p.inline-errors {
	  margin: 0 13px;
	}
      }

      &.boolean {
	label {
	  @extend .col-sm-offset-2;
	  padding: 0;
	  input { margin-right: 5px; }
	}
      }

      &:last-of-type {
	margin-bottom: 0;
	p.inline-hints {
	  margin-bottom: 0;
	}
      }
    }

    legend {
      @extend .panel-heading;
      margin: 0;

      &.label {
	/* The label class has a different meaning in bootstrap */
	display: inline-block;
	font-weight: inherit;
	padding: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: inherit;
	white-space: inherit;
	vertical-align: inherit;
	border-radius: inherit;
      }
    }

    > label {
      font-weight: normal;
      display: block !important;
    }
  }

  .actions {
    @extend .clearfix;

    ol {
      float: right;
    }

    li {
      display: inline-block;

      input, a { @extend .btn; @extend .btn-default; }
      input[type="submit"] { @extend .btn-primary; margin-right: 5px; }
    }
  }

  label.label {
    /* The label class has a different meaning in bootstrap */
    display: inline-block;
    font-weight: bold;

    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius: inherit;
  }

  .inputs .inputs {
    margin: -15px -15px 0 -15px;
    ol:first-child {
      margin-top: 0;
    }
  }

  .has_many_container {
    > h3 { display: none; }

    > fieldset {
      padding: 0;
      border: 0;
      box-shadow: none;

      .button.has_many_remove {
	@extend .btn, .btn-warning, .col-sm-offset-2;
      }
    }
  }
  .button.has_many_add {
    @extend .btn, .btn-default;
  }
}

.comments {
  .panel_contents {
    padding: 16px;

    .active_admin_comment_meta {
      h4 {
	font-size: 14px;
	margin: 0;
	display: inline;

	a {
	  color: $gray;
	}
      }

      h4 + span {
	color: $gray;
	font-size: 14px;
	&:before {
	  content: ' — '
	}
      }
    }

    fieldset {
      border: 0;

      ol {
	padding: 0;
	margin-bottom: 0;
      }
    }

    .empty {
      height: 50px;
      line-height: 50px;
      display: block;
      text-align: center;
      margin-bottom: 16px;
    }

    form .inputs li textarea {
      max-width: 100%;
      width: 100%;
    }

    form .actions li input[type="submit"] {
      margin-right: 0
    }
  }
}
