#title_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 500;
  height: $menu-width;
  background: $title-bar-background;
  color: $title-bar-color;

  @extend .clearfix;

  #selected_study {
    padding: 5px 0 0 0;
    font-size: 13px;
    color: $gray;
    a {
      color: $gray;
    }
  }

  #titlebar_left {
    @extend .pull-left;
    padding: 0 0 0 15px;

    .breadcrumb,
    h2 {
      background-color: transparent;
      line-height: $menu-width;
      margin: 0;
      font-size: 20px;
      padding: 0;
      display: inline-block;
    }

    &.with_selected_study {
      padding: 0 0 0 10px;

      .breadcrumb,
      h2 {
	background-color: transparent;
	line-height: 20px;
	margin: 0;
	font-size: 18px;
	padding: 0;
	display: inline-block;
      }
    }
  }

  #titlebar_right {
    @extend .pull-right;
  }

  .action_items {
    font-size: 1.2em;
    margin-right: 15px;
  }

  .action_item {
    a {
      line-height: $menu-width;
      margin: 0 7.5px;
      text-decoration: none;
      display: inline-block;
      height: $menu-width;
      color: $title-bar-link-color;
      &:hover { color: $title-bar-link-hover-color; }
    }
    a:before {
      font-size: 1.2em;
      font-family: FontAwesome;
      margin: 0 7.5px 0 0;
    }
    &.new a:before { content: "\f067"; }
    &.edit a:before { content: "\f304"; }
    &.destroy a:before { content: "\f2ed"; }
    &.configure a:before { content: "\f085"; }
    &.select a:before { content: "\f25a"; }
    &.generate_keypair a:before { content: "\f084"; }
    &.lock a:before { content: "\f30d"; }
    &.unlock a:before { content: "\f3c2"; }
    &.audit_trail a:before { content: "\f1da"; }

    &.export_for_erica1 a:before { content: "\f56e"; }
    &.download_images a:before { content: "\f56d"; }
    &.reorder_visits a:before { content: "\f885"; }

    &.edit_dashboard a:before { content: "\f304"; }
    &.save_dashboard a:before { content: "\f00c"; }

    &.start_viewer a:before { content: "\f06e"; }
    &.clear_cart a:before { content: "\f00d"; }

    &.deselect a:before { content: "\f00d"; }
  }
}
