#header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  background-color: $menu-background;
  padding-bottom: $menu-width;

  .site_title {
    position: absolute;
    width: 100%;
    height: $menu-width;
    background-color: $brand-background;
    color: $brand-color;
    font-size: 30px;
    text-align: center;
    z-index: 900;

    line-height: $menu-width;

    .wide {
      font-weight: bold;
      font-size: 1.2em;
      letter-spacing: 0.1em;
    }

    .menu.bars.icon {
      display: inline-block;
      width: $menu-width;

      &:before {
	font-family: FontAwesome;
	content: "\f0c9";
      }
    }
  }

  .navigation-wrapper {
    position: relative;
    height: 100%;
    margin-top: $menu-width;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 4px;  /* for vertical scrollbars */
      height: 4px; /* for horizontal scrollbars */
    }

    &::-webkit-scrollbar-track {
      background: rgba(255,255,255,0.1);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255,255,255,0.5);
    }

    .growing-wrapper {
      position: relative;
      min-height: 100%;
    }
  }

  .study-selection {
    border-bottom: 2px solid $menu-spacer-color;

    li {
      padding: 4px 0;
      background-color: rgba(255,255,255,0.25);
    }

    a {
      color: $menu-link-color;
    }
  }

  .header-item.tabs {
    padding-bottom: 0*45px;
    padding-top: 5px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &.second {
      border-top: 2px solid $menu-spacer-color;
    }

    li {
      white-space: nowrap;

      a:before {
	font-family: FontAwesome;
        font-size: 20px;
        line-height: 45px;
        color: $menu-link-color;
        width: $menu-width;
        text-align: center;
        cursor: pointer;
	display: inline-block;
	content: " ";
      }

      &.has_nested {
	border-top: 2px solid $menu-spacer-color;

	&:first-child {
	  border-top: 0;
	}

	ul li {
	  // padding: 0;
	}

	&:before {
	  display: none;
	}
	&> a {
	  display: none;
	}
      }

      &#study-selection > a:before { content: $fa-var-hand-o-right; }
      &#dashboard > a:before { content: "\f0e4"; }
      &#viewer_cart > a:before { content: "\f07a"; }

      &#studies > a:before { content: "\f02d"; }
      &#centers > a:before { content: "\f19c"; }
      &#patients > a:before { content: $fa-var-vcard-o; }
      &#image_series > a:before { content: "\f03e"; }
      &#visits > a:before { content: "\f0f1"; }

      &#image_upload > a:before { content: "\f0ee"; }
      &#image_hierarchy > a:before { content: "\f0e8"; }

      &#users > a:before { content: "\f007"; }
      &#roles > a:before { content: "\f0c0"; }

      &#notification_profiles > a:before { content: $fa-var-envelope-square; }
      &#email_templates > a:before { content: "\f003"; }

      &#notifications > a:before { content: "\f0a2"; }
      &#background_jobs > a:before { content: "\f253"; }
      &#sidekiq > a:before { content: "\f013"; }
      &#versions > a:before { content: "\f1da"; }

      &#current_user > a:before { content: "\f2bd"; }
      &#logout > a:before { content: "\f08b"; }

      a {
	padding: 0 20px 0 0;
	color: $menu-link-color;
	text-decoration: none;
      }

      &:hover {
        > a, > a:before { color: $menu-link-hover-color; }
      }

      .current {
	background-color: rgba(0,0,0,0.2);
        > a, > a:before { color: $menu-link-hover-color; }
      }
    }
  }
}
