.panel
  %h3 Required Image Series
  .panel_contents
    .attributes_table
      %table{:border => 0, :cellspacing => 0, :cellpadding => 0}
        %tbody
          - required_series_spec.each do |series_name, series_spec|
            %tr
              %th= series_name
              %td
                - if(assigned_required_series[series_name].nil?)
                  %span.status_tag.Missing.error Missing
                - else
                  - assigned_series = assigned_required_series[series_name]
                  %span.status_tag.Assigned.ok= link_to(assigned_series.name, admin_image_series_path(assigned_series))
                  