%table
  %thead
    %tr
      %th Field
      %th Previous Value
      %th New Value
  %tbody
    - changeset.each do |field, values|
      %tr
        %td= simple_format(item.class.human_attribute_name(field) + "\n(" + field + ')')
        %td= values[0]
        %td= values[1]
