.container
  .row
    .col-sm-2
      %nav#toc.affix
    #help-document.col-sm-9!= help_document(document)
= stylesheet_link_tag "bootstrap-toc.min", media: "all"
= javascript_include_tag "bootstrap-toc.min"
:javascript
  $(function() {
    var navSelector = '#toc';
    var $myNav = $(navSelector);
    var $docScope = $('#help-document');
    Toc.init({$nav: $myNav, $scope: $docScope});
    $('body').scrollspy({
      target: navSelector,
      offset: 100
    });
  });
