.container-fluid
  .col-sm-3
    %h3 A
    %h3 B
    %h3 C
    %h3 D
    %h3 E
    %ul.list-group
      %li.list-group-item
        %a{ href: '/admin/help/email_templates' } Email Templates
      %li.list-group-item
        %a{ href: '/admin/help/editor_keyboard_shortcuts' } Editor Keyboard Shortcuts
    %h3 F
    %h3 G
  .col-sm-3
    %h3 H
    %h3 I
    %h3 J
    %h3 K
    %h3 L
    %h3 M
    %h3 N
  .col-sm-3
    %h3 O
    %h3 P
    %h3 Q
    %h3 R
    %h3 S
    %h3 T
    %h3 U
  .col-sm-3
    %h3 V
    %h3 W
    %h3 X
    %h3 Y
    %h3 Z
