.container
  .col-sm-2
  .col-sm-2
    %h3 A
    %h3 B
    %h3 C
    %h3 D
    %h3 E
    %p
      %a{ href: '/admin/help/email_templates' } Email Templates
    %h3 F
    %h3 G
  .col-sm-2
    %h3 H
    %h3 I
    %h3 J
    %h3 K
    %h3 L
    %h3 M
    %h3 N
  .col-sm-2
    %h3 O
    %h3 P
    %h3 Q
    %h3 R
    %h3 S
    %h3 T
    %h3 U
  .col-sm-2
    %h3 V
    %h3 W
    %h3 X
    %h3 Y
    %h3 Z
