development:
  sessions:
    default:
      database: study_server_v2_development
      hosts:
        - localhost:27017
      options:
  options:
test: &test
  sessions:
    default:
      database: study_server_test
      hosts:
        - localhost:27017
      options:
        consistency: :strong
        max_retries: 1
        retry_interval: 0

cucumber:
  <<: *test
