#filters-jsoneditor {
  margin: 0 10px;

  label {display: none;}

  .header.button-holder {
    float: right;
    font-size: 0.7em;
  }

  .content {
    [data-schematype='array'] {
      border: 1px solid #aeaeae;
      border-radius: 3px;
      overflow: hidden;
    } /**/
  }

  .tab {
    border: 1px solid #ccc;
    border-width: 1px 0 1px 1px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-weight: bold;
    cursor: pointer;

    &.active {
      color: #333;
      background-color: rgba(#999, 0.0);
    }
    &.inactive {
      color: #aaa;
      background-color: rgba(#999, 0.2);
    }
  }

  select {
    min-width: 220px;
    padding: 5px;
    line-height: 28px;
    border-radius: 3px;
    border: 1px solid #999;
    margin-bottom: 3px;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
  }
  input {
    width: 100%;
    max-width: 220px;
    box-sizing: border-box;
  }

  [data-schemaid='root'] > h3 {
    margin: 0;
    span { display: none; }
    .button-holder {
      float: none;
      margin-bottom: 10px;
    }
  }

  [data-schemaid='root'] > h3 > span { display: none; }
  [data-schematype='object'] > h3 { display: none; }
  .content [data-schematype='array'] {
    > h3 {
      padding: 10px;
    }

    > div > .button-holder {
      padding: 10px;
      background-color: #ddd;
      display: block !important;
    }
  }
  .content [data-schematype='array'] > div > div > [data-schemapath] {
    margin: 10px 0 10px 0;
    padding: 0 10px;
  }
  [data-schemapath$='changes.from'] > label,
  [data-schemapath$='changes.to'] > label {
    display: block;
  }
}
