= label_tag(field['id'], field['label'], :class => 'control-label')
.controls
  - value, fixed_value_hash = fixed_value(field, data_hash)
  - value = field['selected_option'] if value.nil?
  = select_tag(field['id'], options_from_values(field, [value]).html_safe, { :class => "#{input_size}" }.merge(validators_hash(field)).merge(fixed_value_hash))
  %p.help-block
