= label_tag(field['id'], field['label'].html_safe, :class => 'control-label')
.controls
  = label_tag(field['id'], :class => 'checkbox') do
    - value, fixed_value_hash = fixed_value(field, data_hash)
    - value = value_for_reopened_case(field, @case) if(@case.state == :reopened_in_progress and value.nil?)
    = check_box_tag(field['id'], 'true', value, validators_hash(field).merge(fixed_value_hash))
    = "Yes"
    %p.help_block
