= label_tag(field['id'], field['label'].html_safe, :class => 'control-label')
.controls
  - value, fixed_value_hash = fixed_value(field, data_hash)
  %span.form-fixed-text{:id => field['id']}= value
  %p.help-block
