.control-group
  = label_tag(field['id'], field['label'], :class => 'control-label')
  .controls
    = number_field_tag(field['id'], nil, { :class => input_size }.merge(validators_hash(field)))
    %p.help-block