= label_tag(field['id'], field['label'], :class => 'control-label')
.controls
  = select_tag(field['id'], options_from_values(field).html_safe, { :multiple => true, :class => "#{input_size}" }.merge(validators_hash(field)))
  %p.help-block
