= label_tag(field['id'], field['label'].html_safe, :class => 'control-label')
.controls
  - value, fixed_value_hash = fixed_value(field, data_hash)
  - if(@case.state == :reopened_in_progress)
    - value = value_for_reopened_case(field, @case)
  - elsif value.nil?
    - value = field['selected_option']
  - else
    - value = value.split(':')
  = select_tag(field['id'], options_from_values(field, value, true).html_safe, { :multiple => true, :size => field['values'].size, :class => "#{input_size} iaf_select" }.merge(validators_hash(field)).merge(fixed_value_hash))
  - if(defined?(show_internal_annotations) and show_internal_annotations == true)
    .data_dict_select_options
      %ul
        - field['values'].each do |value, label|
          %li= label + ' => ' + value
  %p.help-block
