- unless @adjudication_previous_cases.blank?
  #adjudication_previous_results.offset1.span10
    = render 'forms/adjudication_custom_results_table', :caption => 'Results from sessions under adjudication for this Patient', :cases => @adjudication_previous_cases, :table_config => @adjudication_table_config, :roi_links => true

#previous_results.offset1.span10
  - case @table_type
  - when :default
    - @previous_cases.each do |case_type,cases|
      - next if cases.empty?
      = render 'forms/results_table', :cases => cases, :caption => "Previous #{case_type.camelize} Results for this Patient", :skip_header => false, :roi_links => true
  - when :custom
    = render 'forms/custom_results_table', :caption => 'Previous Results for this Patient', :merge_cases => @merge_table_columns, :cases => @previous_cases, :table_config => @table_config, :roi_links => true
