.offset1.span10
  = form_tag('', :class => 'form-horizontal', :id => 'the_form') do
    - @form_config.each do |field|
      = render "forms/field_#{field['type']}", :field => field, :input_size => 'input-xlarge'
    .form-actions
      %button.btn.btn-primary{:type => 'submit'} Submit Answers
