.offset1.span10
  .form-actions
    %button#refresh-rois-btn.btn.pull-right{:'data-loading-text' => 'Refreshing...'} Refresh Measurements
  = form_tag('', :class => 'form-horizontal', :id => 'the_form') do
    .control-group.error
      .controls
        %p#custom-validation-help-block.help-block
    - @form_config.each do |field|
      = render "forms/field_#{field['type']}", :field => field, :input_size => 'input-xlarge'
    .form-actions
      %button.btn.btn-primary{:type => 'submit'} Submit Answers

#preview_modal.modal.hide.fade
  .modal-header
    %button.close{:type => 'button', :'data-dismiss' => 'modal', :'aria-hidden' => true} &times;
    %h3 Please verify your answers
  .modal-body
    - @form_config.each do |field|
      = render "forms/field_preview", :field => field
  .modal-footer
    %button.btn{:'data-dismiss' => 'modal', :'aria-hidden' => true} Change Answers
    %button#preview_submit_btn.btn.btn-primary{:'data-loading-text' => 'Submitting...'} Submit Answers