/*
 * These styles are used for views without a logged in user.
 *
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "general/font_roboto";
@import "general/active_admin_bootstrap";

button,
input[type='submit'] {
  @expand .btn, .btn-default;
}

.container {
  max-width: 500px;

  h3 {
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 15px 0;
  }

  .bg-head {
    background: image-url('pt_head.jpg');
    background-size: cover;
    margin: -15px -15px 15px -15px;
    padding: 60px 15px 15px 15px;
    text-align: right;

    h3 {
      color: $clouds;
      text-shadow: 0px 1px 1px #333;
      margin: 0;
    }
  }

  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}
