@import "general/font_awesome";
@import "general/font_roboto";
@import "general/spinner";

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

html, body, #app {
  height: 100%;
}

.form-container {
  margin: 0 auto;
  width: 100%;
  max-width: 80vw;

  .datagrid-table td:not([ref]) {
    width: 16px;
  }
}
