// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-row-padding
{
//	padding-bottom: 15px;
}
.form-group-header
{
	margin-top: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}
.form-group-header h3
{
	margin-top: 0;
	margin-bottom: 0;
}
.form-group-index
{
	margin: 0;
	line-height: 30px;
}

.form-fixed-text
{
	padding: 4px 6px;
	height: 30px;
	line-height: 30px;
}

#refresh-rois-btn
{
	position: fixed;
	top: 2%;
	right: 2%;
}

.signature-div
{
    width: 80%;
}
.signature-line
{
    margin-top: 150px !important;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    border: solid 1px black;
    padding: 0;
}

@media print
{
    #previous_results { display: none !important; }
    #form_area { display: none !important; }
    #preview_modal { display: none !important; }
    #print_version
    {
	display: block !important;
	-webkit-print-color-adjust: exact !important;
    }

    .print-header
    {
	margin-bottom: 50px;
    }
    .print-body
    {
	margin-bottom: 50px;
    }

    .print-signature
    {
	padding-top: 50px;
	padding-bottom: 50px;
    }
}