// TODO: Use bootstrap correctly from vendored gem
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

#image-upload {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  .progress-bar {
    position: relative;
    width: 200px;
    height: 28px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    border-radius: 4px;
    overflow: hidden;
    
    .label {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      line-height: 28px;
      height: 28px;
      text-align: center;
      font-weight: bold;
    }

    .progress {
      position: relative;
      height: 28px;
      overflow: hidden;
      -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
      box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
      -webkit-transition: width .6s ease;
      -o-transition: width .6s ease;
      transition: width .6s ease;

      background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
      background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
      background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
      -webkit-background-size: 40px 40px;
      background-size: 40px 40px;

      .label {
	color: #ffffff;
	text-shadow: 1px 1px #444;
      }
    }

    &.parsed .progress {
      background-color: #4488aa;
    }
    
    &.uploading .progress {
      background-color: #4488aa;

      -webkit-animation: progress-bar-stripes 2s linear infinite;
      -o-animation: progress-bar-stripes 2s linear infinite;
      animation: progress-bar-stripes 2s linear infinite;
    }

    &.uploaded .progress {
      background-color: #44aa44;
    }
  }

  .panel-columns {
    display: flex;
    justify-content: space-between;

    .panel {
      width: 32.5%;

      .panel-contents {
	margin: 0;
	padding: 0;
	overflow-y: auto;
	height: 200px;
      }

      input {
	width: 100%;
	margin: 0;
	padding: 10px 15px;
	box-sizing: border-box;
      }

      ul {
	margin: 0;
	padding: 0;

	li {
	  color: #000;
	  list-style: none;
	  margin: 0;
	  padding: 10px 15px;
	  cursor: pointer;

	  &.hidden { display: none; }
	  &.inactive {
            color: #999;
	  }
	  &.active {
            color: #000;
	    background-color: rgba(#000, 0.2);
	  }
	}
      }
    }
  }

  #image-series {
    max-height: 100%;

    .panel_contents {
      margin: 0;
      padding: 0;
    }

    table {
      margin-top: 0;
    }

    tbody.image-series {
      td.collapsible { 
	width: 15px; 
	padding-left: 15px;
      }

      tr.image-series {
	color: #aaa;


	&.marked-for-upload {
	  color: #323537;
	}
      }

      tr.image-series:hover {
	background-color: #e4e4e4;
      }

      tr.images {
	padding: 10px;

	td {
	  margin: 0;
	  padding: 0;
	}
	tbody {
	  
	}
	table {
	  td, th{
	    padding: 10px;
	  }
	}
      }

      td {
	padding: 10px 4px;
	vertical-align: middle;
      }

      td.name {
	font-size: 1.1em;
	font-weight: bold;
      }

      tr.images {
	display: none;
      }

      td .arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent #666;
	margin: 4px;
      }

      td.visit {
	width: 200px;
	.select2 {
	  min-width: 200px;
	}
      }

      td.required-series {
	width: 250px;
	.select2 {
	  min-width: 250px;

	  .select2-selection--multiple {
	    min-height: 28px;
	  }

	  .select2-search--inline .select2-search__field {
	    margin-top: 8px;
	  }

	  .select2-selection--multiple .select2-selection__choice {
	    margin-right: 3px;
	    margin-top: 3px;
	  }

	  .select2-selection--multiple .select2-selection__rendered {
	    padding: 0 3px;
	    margin-bottom: -1px;
	  }
	}
      }

      td.upload-state {
	width: 200px;
	padding-right: 10px;
      }

      &.show-images {
	background-color: rgba(#000, 0.03);

	tr.images {
	  display: table-row;
	}
	td .arrow {
	  transform: rotate(90deg);
	}
      }
    }

    #drop-image-series {
      min-height: 300px;
    }
  } 
}

#parse-images {
  padding: 20px;
  font-size: 14px;

  .panel_contents {
    padding: 0px;
    text-align: center;
  }
  
  #drop-image-series {
  }
  
  .progress-container {
    display: none;

    .progress-bar {
      display: inline-block;
    }

    .progress-bar .progress {
      background-color: #448844;
    }

    .progress-bar, .progress-bar .label {
      width: 400px;
    }
  }
  
  &.parsing {
    .hint {
      display: none;
    }

    .progress-container {
      display: block;

      .progress-bar .progress {
	background-color: #4488aa;

	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
      }
    }
  }
}
