.sortable li
{
    list-style: none;

    border: 1px solid #ccc !important;
    padding: 5px !important;
    margin: 5px !important;

    background: #ffffff !important;
    height: 18px;
}

li.sortable-placeholder
{
    border: 1px dashed #ccc !important;
    background: #f6f6f6 !important;
}