.panel
  %h3 DICOM Meta Header
  .panel_contents
    .attributes_table
      %table.dicom_metadata
        %tbody
          = dicom_metadata_rows(@dicom_meta_header, level: 0)

.panel
  %h3 DICOM Metadata
  .panel_contents
    .attributes_table
      %table.dicom_metadata
        %tbody
          = dicom_metadata_rows(@dicom_metadata, level: 0)
