= javascript_include_tag "vendor/dicomParser"
= javascript_include_tag "uploader/main"
:coffeescript
  $ ->
    ImageUploader.router = new ImageUploader.Router()
    Backbone.history.start()
#image-upload
  .panel-columns
    .panel#study-select
      %h3 Select Study
      %input.filter{ type: 'search', placeholder: 'Filter studies' }
      .panel-contents
    .panel#center-select
      %h3 Select Center
      %input.filter{ type: 'search', placeholder: 'Filter centers' }
      .panel-contents
    .panel#patient-select
      %h3 Select Patient
      %input.filter{ type: 'search', placeholder: 'Filter patients' }
      .panel-contents
  .panel#upload-image-series
    .panel_contents.empty
