.panel.panel-default
  .panel-body
    - if(cart.empty?)
      .blank_slate_container
        .blank_slate
          %p Your viewer cart is currently empty.
          %p Add items via the "Add to viewer cart" batch action, for example on image series' or patients.
    - else
      %ul.list-group
        - cart.each do |cart_item|
          %li.list-group-item
            = link_to(cart_item[:resource].name, cart_item_url(cart_item))
            (
            = link_to('remove', admin_viewer_cart_remove_path(type: cart_item[:type], id: cart_item[:id]), class: 'remove')
            )
