:javascript
  filter_select2_id = "#{filter_select2_id}"
  filter_select2_data = #{filter_select2_data.to_json}
  filter_options_map = #{filter_options_map.to_json}
  selected_filters = #{selected_filters.to_json}
