%table
  %thead
    %tr
      %th Current
      - unless locked.nil?
        %th Locked
  %tbody
    %tr
      %td
        - if current[:configuration].nil?
          %span.status_tag.Missing.error Missing
        - else
          = link_to 'Download', current[:download_link]
      - unless locked.nil?
        %td
          - if locked[:configuration].nil?
            %span.status_tag.Missing.error Missing
          - else
            = link_to 'Download', locked[:download_link]
    %tr
      %td
        - if current[:configuration].nil?
          %span.status_tag.Missing.error Missing
        - elsif current[:configuration] == :invalid
          %span.status_tag.Invalid.warning Invalid
        - else
          = current[:configuration]
      - unless locked.nil?
        %td
          - if locked[:configuration].nil?
            %span.status_tag.Missing.error Missing
          - elsif locked[:configuration] == :invalid
            %span.status_tag.Invalid.warning Invalid
          - else
            = locked[:configuration]
