- if cart.empty?
  %p Your viewer cart is currently empty
- else
  %ul
    - cart.each_with_index do |item, index|
      %li
        %a{:href => cart_item_url(item)}= "#{ActiveSupport::Inflector::humanize(item[:type].to_s)} #{item[:id]}"
  %a.button.viewer_cart_button{:href => admin_viewer_cart_path} Open
  %a.button.viewer_cart_button{:href => admin_viewer_cart_start_path} Start Viewer
  %a.button.viewer_cart_button{:href => admin_viewer_cart_empty_path} Empty
