- if current_user
  :javascript
    window.selectedStudyId = #{session[:selected_study_id].to_json.html_safe};
    window.selectedStudyName = #{session[:selected_study_name].to_json.html_safe};
    window.accessibleStudyCount = #{Study.accessible_by(current_ability).count};
- else
  :javascript
    window.selectedStudyId = null;
    window.selectedStudyName = null;
    window.accessibleStudyCount = 0;
